<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-1 form-group form-inline">
      <label for="search">Search:</label>
      <input [(ngModel)]="filterPhrase" type="text" class="form-control" id="search">
      <button class="btn btn-warning justify-content-end" routerLink="/newUser">Create user</button>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <table class="table">
        <thead>
          <tr>
            <th (click)="setOrderKey('id')">#</th>
            <th (click)="setOrderKey('name')">Name</th>
            <th (click)="setOrderKey('isActive')">Active</th>
            <th (click)="setOrderKey('age')">Age</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of userList | 
                                  filter:filterPhrase:changeCounter | 
                                  order:orderKey:orderDirection:changeCounter">
            <td>{{ user.id }}</td>
            <td>{{ user.name.last }} {{ user.name.first }}</td>
            <td>{{ user.isActive }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>
              <div class="btn-group">
                <button routerLink="/users/{{ user.id }}" class="btn btn-info">update</button>
                <button class="btn btn-danger" id="deleteButton" (click)="deleteUser(user)">delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>
